<template name="home">
<div class="header-mask" style="background-image: url({{ eventBanner }})">
	<div class="jumbotron header-banner fullscreen">
			<div class="container"> 
				<div class="event-title">
					<h1>{{eventMain.name}}</h1>
					<p>{{eventMain.theme}}</p>
				</div>
				<div class="event-convertion">
					<a href="#" class="btn btn-default btn-lg">
						Participe!
					</a>
				</div>
		</div>
	</div>
</div>

<div class="event-details-holder">
	<div class="container">
		<div class="event-details row">
			<div class="event-when col-md-3">
				<div class="icon-holder">
					<i class="fa fa-calendar-o"></i>
				</div>
				<div class="sayings">
					<h3>Quando</h3>
					<p>{{ eventMain.when }}</p>
				</div>
			</div> 
			<div class="event-where col-md-3">
				<div class="icon-holder">	
					<i class="fa fa-map-marker"></i>
				</div>
				<div class="sayings">
					<h3>Onde</h3>
					<p>{{ eventMain.where }}</p>
				</div>
			</div>
			<div class="event-speakers col-md-3">
				<div class="icon-holder">	
					<i class="fa fa-users"></i>
				</div>
				<div class="sayings">
					<h3>{{ speakers.length }}</h3>
					<p>Palestrantes</p>
				</div>			
			</div>				

			<div class="event-courses col-md-3">
				<div class="icon-holder">	
					<i class="fa fa-users"></i>
				</div>
				<div class="sayings">
					<h3>{{ courses.length }}</h3>
					<p>Palestras/Mini-cursos</p>
				</div>			
			</div>	
		</div>
	</div>	
</div>

{{ #if eventMain.description }}
<div class="event-description-full">
	<div class="jumbotron">
		<h1>{{ eventMain.name }}</h1>
		<div class="event-desc-text">
			<p>{{ eventMain.description }}</p>
			<p> 
				<a href="#" class="btn btn-primary btn-lg">Quero participar!</a>
			</p>			
		</div>
	</div>		
</div>
{{ /if }}

<div class="speakers-container">
	<div class="container">
		<h2 class="page-header">Palestrantes</h2>
	</div>	
</div>
</template>
