<template name="home">
{{#if fbUnconfigured}}
	<div class="text-center fb-unconfigured">
		<button class="btn btn-primary">Configurar Faceboook</button>			
	</div>
{{/if}}

<div class="header-mask" style="background-image: url({{ getEventBanner eventMain }})">
		<div class="container"> 
			<div class="event-title">
				<h1>{{eventMain.name}}</h1>
				<p>{{eventMain.theme}}</p>
			</div>

			{{#unless currentUser}}
			<div class="event-convertion">
				<a href="#" class="btn btn-default btn-lg btn-animated event-sign-up-link">
					Participe!
				</a>
			</div>
			{{/unless}}
		</div>

		<div class="event-details-holder">
		<div class="container">
			<div class="event-details row">
				<div class="event-when col-md-3">
					<div class="icon-holder">
						<i class="fa fa-calendar-o"></i>
					</div>
					<div class="sayings">
						<h3>Quando</h3>
						<p>{{ eventMain.when }}</p>
					</div>
				</div> 
				<div class="event-where col-md-3">
					<div class="icon-holder">	
						<i class="fa fa-map-marker"></i>
					</div>
					<div class="sayings">
						<h3>Onde</h3>
						<p>{{ eventMain.where }}</p>
					</div>
				</div>
				<div class="event-speakers col-md-3">
					<div class="icon-holder">	
						<i class="fa fa-users"></i>
					</div>
					<div class="sayings">
						<h3>{{ speakers.count }}</h3>
						<p>Palestrantes</p>
					</div>			
				</div>				

				<div class="event-courses col-md-3">
					<div class="icon-holder">	
						<i class="fa fa-users"></i>
					</div>
					<div class="sayings">
						<h3>{{ eventMain.count }}</h3>
						<p>Participantes</p>
					</div>			
				</div>	
			</div>
		</div>
		</div>			
</div>


<div class="event-description-full default-container fullscreen">
	<div class="jumbotron">
		<h2 class="default-title col-md-6">O que vai ser o evento?</h2>
		<div class="event-desc-text col-md-6">
			<p>{{ eventMain.description }}</p>
			{{#unless currentUser}}
			<p class="text-center"> 
				<a href="#" class="btn btn-primary btn-lg btn-animated event-sign-up-link">Quero participar!</a>
			</p>			
			{{/unless}}
		</div>	
	</div>	
</div>			

<div class="speakers-container default-container">
	<div class="container">
		<h2 class="default-title">Palestrantes & Cursos</h2>

		{{#each byGroup arr=speakers groupSize=3}}
			<div class="row speakers-row">
			{{#each this}}
				<div class="col-md-4 speakers">
					<img src="{{getFbAvatar fbId}}" class="img-circle">
					<h3 class="speaker-title">{{name}}</h3>
					<p class="speaker-bio">{{shortbio}}</p>
				</div>
			{{/each}}
			</div>
		{{/each}}				
	</div>	
</div>
</template>
