<template name="footer">
	<footer>
		<div class="container">
			<div class="col-md-8">
			<h2>{{eventMain.name}}</h2>
			<p>{{eventMain.description}}</p>
			</div>
			{{#if socialMedia}}
			<div class="col-md-4">
				<h2>Fique conectado</h2>
				<ul class="social-networks">
					{{#each socialMedia}}
						<li>
							<a href="{{url}}"><i class="fa fa-2x fa-{{icon}} fa-inverse"></i></a>
						</li>
					{{/each}}
				</ul>
			</div>
			{{/if}}
		</div>

		<div class="event-page-footer">
			<div class="container">
				<div class="col-md-12">
					<p>EventPage, {{currentYear}} - Bootstrapper para sites de eventos em Meteor, criado por <a href="https://github.com/grsabreu/meteor-eventpage">Gabriel Rubens</a>.</p>
				</div>
			</div>	
		</div>
	</footer>
</template>